// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777; 
$color-white: #fff;
$color-black: #000;
$color-grey-light1: #f7f7f7;
$color-grey-light2: #eee;
$heading-font-color: #2196f3;

$color-secondary-light: #396d4a;
$color-secondary-dark: #008220;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-invalid: red;

$color-footer: rgb(61, 61, 61);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


//FONT
$default-font-size: 1.6rem;
$heading-font-size: 2rem;