.footer {
    background-color: rgb(61, 61, 61);
    padding: 7rem 0;
    font-size: 1.4rem;

    @include respond(tab-land) {
        padding: 4rem 3rem;
    }

    @include respond(tab-port) {
        padding: 4rem 0;
    }


    &__logo-box {
        text-align: center;
        margin-bottom: 6rem;

        @include respond(tab-port) {
            margin-bottom: 3rem;
        }
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {
        border-top: 1px solid $color-grey-light2;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        transition: all .2s;
        &:link, &:visited {
            color: $color-grey-light1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover, &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(3deg) scale(1.2);
        }
    }

    &__copyright {
        color: $color-grey-light1;

        @include respond(tab-port) {
            width: 100%;
        }
    }
}