.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8) , rgba($color-primary-dark, 0.8)), url('../img/hero.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 90%);
        height: 95vh;
    }

    @include respond(tab-port) {
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 95%);
    }

    @include respond(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 82%);
    }


    &__logo-container {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 8rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}