.card {
    perspective: 250rem;
    -moz-perspective: 250rem;
    position: relative;
    height: 50rem;

    &__side {
        height: 50rem;
        transition: all .9s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 8px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to left, rgb(255, 196, 0), 
                rgb(254, 188, 0), rgb(253, 180, 0), rgb(252, 173, 0), 
                rgb(251, 165, 0), rgb(250, 157, 0), rgb(250, 149, 0), 
                rgb(249, 141, 0), rgb(248, 133, 0), rgb(247, 126, 0), 
                rgb(246, 118, 0), rgb(245, 110, 0));
            }

            &--2 {
                background-image: linear-gradient(to bottom right, rgb(99, 89, 58),
              rgb(96, 81, 75), rgb(92, 73, 92), rgb(89, 65, 109), rgb(85, 57, 126), 
              rgb(82, 49, 143), rgb(78, 40, 160), rgb(75, 32, 177), rgb(71, 24, 194), 
              rgb(68, 16, 211), rgb(64, 8, 228), rgb(61, 0, 245));
            }

            &--3 {
                background-image: linear-gradient(to bottom left, rgb(163, 3, 54),
              rgb(148, 25, 68), rgb(133, 47, 82), rgb(119, 69, 96), rgb(104, 91, 110), 
              rgb(89, 113, 124), rgb(74, 135, 138), rgb(59, 157, 152), rgb(44, 179, 166), 
              rgb(30, 201, 180), rgb(15, 223, 194), rgb(0, 245, 208));
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: soft-light;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(to right bottom, #ffd400, #146733), url(../img/card1.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/card2.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/card3.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 10rem;
        right: 2rem;
        text-align: right;

        &-text {
            font-weight: 700;
            padding: 1rem 1.5rem;
            font-size: 2rem;


            &--1 {
                color: orange;
                background-image: linear-gradient(to right bottom, #ab7474, #484848);
                border-radius: 5px;
            }

            &--2 {
                background-image: linear-gradient(to right bottom, #61ffcc, #000807);
                border-radius: 5px;
            }

            &--3 {
                background-image: linear-gradient(to right bottom, #70008c, #0543dc);
                border-radius: 5px;
                color: #f0ff0c;
            }
        }
    }

    &__details {

        ul {
            list-style: none;
            text-align: center;
            width: 80%;
            margin: 0 auto;
            li {
                font-size: 1.5rem;
                padding: 1rem;
                font-weight: 600;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light2;
                }
            }
        }
    }

    &__price {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &-box {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 5rem;
            color: $color-tertiary-light;
            font-weight: 500;
        }

        &-for {
            font-size: 2.4rem;
            text-transform: uppercase;
        }

        &-value {
            font-size: 6rem;
            font-family: 'Lato',Verdana, sans-serif;
        }
    }



    @media only screen and (max-width: 56.25em),
           only screen and (hover: none) {
               
        height: auto;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
        &__side {
            height: auto;
            position: relative;
            border-radius: 0px;
            background-color: $color-white;
            box-shadow: none;
    
            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }
    
        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }
    
        &__price {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 4rem;
            padding: 7rem 4rem 4rem 4rem;
    
            &-box {
                margin-bottom: 3rem;
            }
    
            &-value {
                font-size: 4rem;
            }
        }
    }
}