.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 2px solid transparent;
        width: 90%;
        display: block;
        transition: all .5s ease;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1.5rem 2rem rgba($color-black, .1);
            border-bottom: 2px solid $color-primary;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-invalid;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 1.5rem;
        margin-top: .5rem;
        display: block;
        transition: .3s all;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after{
        opacity: 1;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 3.3rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.5rem;

        &::after {
            content: '';
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 100%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .3s;
        }
    }
}