*,
*::after,
*::before {
    margin: 0px; 
    padding: 0px;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%!important;

    @include respond(tab-port) { // < 900
        font-size: 50%!important;
    }

    @include respond(tab-land) { // < 1200
        font-size: 56.25%!important;
    }
    
    @include respond(large) { // < 1800
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}

::selection {
    color: $color-white;
    background-color: $color-primary;
}