.section-about {
    background-color: $color-grey-light1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 25rem 0;
    }

    @include respond(phone) {
        padding: 15rem 0;
    } 
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8) , rgba($color-primary-dark, 0.8)), url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);
    background-position: bottom;
    position: relative;
    bottom: 15vh;

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light1;
    padding: 25rem 0 5rem 0;
    margin-top: -23rem;

    @include respond(tab-port) {
        padding: 10rem 0 5rem 0;
    }

    @include respond(phone) {
        padding: 17rem 0 5rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 5rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    &::after {
        content: "";
        background-image: url('../img/nat-4.jpg');
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

    @include respond(tab-land) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(125deg, 
                        rgba($color-white, .9) 0%,
                        rgba($color-white, .9) 50%, transparent 50%),
                        url('../img/nat-6.jpg'); 
    background-size: 100%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .15);

    @include respond(tab-land) {
        background-image: linear-gradient(125deg, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%, transparent 65%),
        url('../img/nat-6.jpg');
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
        url('../img/nat-6.jpg');
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
}